.centered{
    text-align: center;
}

input{
    margin: 3px;
    padding: 2px;
}

button{
    margin: 3px;
    padding: 5px;
    color: blue;
    border-color: blue;
    border-radius: 5px;
}

button:hover,
button:active{
    background-color: blue;
    color: white;
}

ul{
    list-style-position: inside;
}

h2{
    margin-left: 40px;
}

li{
    margin: 10px;
}